//colors
$white: #FFFFFF; // White
$black: #000000; // Black
$gray1: #e6e6e6; // light gray	
$gray3: #848484; // mid gray
$gray4: #787878; // darker gray
$color1: #515151; // brand dark grey 
$color2: #D9D9D9; // brand light grey
$color3: #FF6600; // orange


//transition styles

$transition-load: cubic-bezier(0.45, 0.1, 0.02, 1.04);



